body {
    background-color: rgb(7, 7, 62);
}

.navbar {

    background-color: rgb(30, 30, 123);
    height: 50px;
    width: 100%;
    display: flex;


}

.first {
    position: relative;
    left: 40px;

    text-transform: uppercase;
    font-size: 1.5rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

.bi {
    position: relative;
    top: -2px;

}

.borde {
    border: 1.5px solid transparent;



}

.borde:hover {
    border: 1.5px solid white;

}

.links {
    position: relative;
    right: 80px;

}

.project {
    background-color: rgb(7, 14, 104);
    border: 1px solid transparent;
    border-radius: 10%;
    padding: 5px;
    margin-left: 60px;
    text-decoration: none;
    color: aliceblue;

}

.about {
    background-color: rgb(7, 14, 104);
    border: 1px solid transparent;
    border-radius: 10%;
    padding: 5px;
    margin-left: 60px;
    text-decoration: none;
    color: aliceblue;
}

.home {
    background-color: rgb(7, 14, 104);
    border: 1px solid transparent;
    border-radius: 10%;
    padding: 5px;
    margin-left: 60px;
    text-decoration: none;
    color: aliceblue;

}